
.text-decoration{
  text-decoration: none;
 
}

.mr-10{
  margin-left: 30px;
  color: rgb(115, 108, 108); 

  
}
.active{
  color:black;
  border-bottom: 3px solid black;
}
.container{
  display: grid;
  flex-direction: row;
}

.custom-navbar {
  background-color: #b2def5;
  padding: 10px;
  width: 100% ;
}

.custom-navbar .navbar-brand {
  color: #ffffff;
}

.custom-navbar .navbar-brand:hover {
  color: #9b3ad7;
}

.custom-table {
  width: 100%;
  border-collapse: separate ! important;
  table-layout: auto;
  text-overflow: ellipsis;
 
 
  
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.custom-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #f1f1f1;
}

.custom-table th, .custom-table td {
  text-align: center;
}

.table-actions {
  display: flex;
  justify-content: center;
}

.table-actions .btn {
  margin: 0 5px;
}

@media only screen and (max-width:720px){
  .container{
    flex-direction: column;
  }
}
